stages:
  - test
  - deploy-heroku

test-job:
  stage: test
  script:
    - echo hello

heroku-deploy:
  image: ruby:latest
  stage: deploy-heroku
  script:
   - apt-get update -qy
   - apt-get install -y python3 python3-pip
   - pip3 install -r requirements.txt
   - pip3 install python-dotenv
   - cd backend
   - python3 -m flask db upgrade
   - cd ..
   - gem install dpl
   - dpl --provider=heroku --app=drp-inaglobe-platform --api-key=$HEROKU_API
