image: node:14.16.0

stages:
  - compile
  - test
  - deploy-heroku

compile-job:
  stage: compile
  script:
    - apt-get install nodejs npm -y
    - npm run start
    - npx json-server --watch data/db.json --port 8000 

test-job:
  stage: test
  script:
    - echo hello

heroku-deploy:
  stage: deploy-heroku
  script:
   - apt-get update -yq
   - apt-get install -y ruby-dev       
   - gem install dpl
   - dpl --provider=heroku --app=drp-inaglobe-platform --api-key=2f23823e-beb1-4f1c-84ba-b4ca43eef210
