@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
  background-color: white;
}

.home h1 {
  font-style: bold;
  font-size: 50px;
  text-align: left;
  margin-bottom: 50px;
}

.home h2 {
  margin-top: 10px;
  padding: 4px;
}

.home button {
  background-color:  #ff4e83;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 12px;
}

.home button:hover{
  background-color:  #8f0830;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  color: #ff4e83;
}
.navbar h1 {
  color: #ff4e83;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: rgb(0, 0, 0);
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* Project list */

.project-preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
}

.project-preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.project-preview h2 {
  font-size: 20;
  color: #f1356d;
}

.project-preview h3 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}

.project-preview a {
  text-decoration: none;
}

/* Project details */

.project-details h2 {
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 10px;
}

.project-details h3 {
  font-size: 25px;
  color: rgb(102, 94, 94);
  margin-bottom: 30px;
}

.project-details p {
  font-size: 20px;
  color: rgb(8, 8, 8);
  margin-bottom: 30px;
}

.project-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.project-details button:hover {
  background: #8f0830;
}

/* Create new project form */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  background: #8f0830;
}


/* Page not found */

.page-not-found h2, .page-not-found p{
  margin-bottom: 10px;
}
