@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
  margin: 0;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
  background-color: white;
}

.home h1 {
  font-style: bold;
  font-size: 50px;
  text-align: left;
  margin-bottom: 50px;
}

.home h2 {
  margin-top: 10px;
  padding: 4px;
}

.home button {
  background-color: #ff4e83;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 12px;
}

.home button:hover {
  background-color: #8f0830;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  color: #ff4e83;
}

.navbar h1 {
  color: #ff4e83;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: rgb(0, 0, 0);
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 1000px;
  padding: 20px;
  margin: 20px auto;
}

/* any preview */

.preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
}

.preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.preview h2 {
  font-size: 20;
  color: #f1356d;
  padding-left: 4px;
}

.preview h3 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  padding-left: 4px;
}

.preview h4 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
}

.preview a {
  text-decoration: none;
}

/* User page */

.user {
  width: 1000px;
  margin-bottom: 30px;
  background-color: #fff;
}

.user h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.user h3 {
  font-size: 15px;
  color: #222729;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.user h4 {
  font-size: 10px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: bold;
}

.user p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

/* Project details */

.project-details h2, .user h2 {
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 10px;
}

.user h4 {
  font-size: 20px;
  color: rgb(39, 36, 36);
  margin-bottom: 30px;
}

.project-details h4 {
  font-size: 20px;
  color: rgb(39, 36, 36);
  margin-bottom: 30px;
}

.project-details p {
  font-size: 20px;
  color: rgb(8, 8, 8);
  margin-bottom: 30px;
}

.create-project button, .project-details button, .edit-project-button, .add-user button, .edit-user-button, .user button, .add-task-button,
.view-tasks-button, .add-todo-form button, .add-project-task button,
.change-password button, .edit-project button, .add-user-button, .edit-user button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 10px;
}

.create-project button:hover, .project-details button:hover, .edit-project-button:hover, .edit-user-button:hover, .user button:hover,
.add-task-button:hover, .add-user button:hover, .edit-user button:hover, .todo-list button:hover, .add-project-task button:hover
.view-tasks-button:hover, .change-password button:hover, .edit-project button:hover,
.add-user-button:hover {
  background: #8f0830;
}

.assigned_users_preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
}

.assigned_users_preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.assigned_users_preview h4 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 4px;
}

.assigned_users_preview a {
  text-decoration: none;
}

.project_user_assignment_list {
  margin-bottom: 30px;
  margin-right: 10px;
}

/* Create new project form and edit project */


.create-project .edit-project, .edit-user, .add-project-task, .change-password{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login, .forgot-password {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 430px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
  border-radius: 6px;
  text-align: center;
}

.create-project label, .edit-project label, .add-user label, .edit-user label, .add-todo-form label, .change-password label, 
.add-project-task label{
  text-align: left;
  display: block;
  font-size: 20px;
  align-items: center;
}

.login h1, .forgot-password h1{
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}

.login h2, .forgot-password h2{
  font-size: 20px;
  color: #271a1e;
  margin-bottom: 10px;
  margin-top: 20px;
  align-items: center;
}

.login .links {
  font-size: 20px;
  color: #35a6f1;
  text-decoration: underline;
  padding: 14px 20px;
  margin: 8px 0;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.login button, .forgot-password button {
  background: #f1356d;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 450px;
  margin-bottom: 20px;
  font-size: 25px;
}

.login input, .forgot-password input {
  width: 450px;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 15px;
}

.login .button:hover, .forgot-password button:hover {
  background: #8f0830;
}

.create-project h2, .edit-project h2, .add-user h2, .edit-user h2, .add-todo-form h2, .add-project-task h2, .change-password h2{
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create-project input, .create-project textarea, .create-project select,
.edit-project input, .edit-project textarea, .edit-project select, .add-user input,
.edit-user input, .add-todo-form input, .add-todo-form textarea, .add-todo-form select,
.add-project-task input, .add-project-task textarea, .add-project-task select, .change-password input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}


/* My Profile */

.my-profile h2 {
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 10px;
}

.my-profile p {
  font-size: 20px;
  color: rgb(8, 8, 8);
  margin-bottom: 30px;
}

/* Page not found */

.page-not-found h2, .page-not-found p {
  margin-bottom: 10px;
}

/* Add New User */

.add-user label, .add-project-task label {
  text-align: left;
  display: block;
  font-size: 20px;
}

.users h1 {
  font-style: bold;
  font-size: 50px;
  text-align: left;
  margin-bottom: 30px;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #248f0f;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #5a0808;
  padding: 0.8em;
}

/* Individual item */

.bm-item {
  display: inline-block;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */

.bm-item {
  display: inline-block;
  color: #5d076e;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #000000;
}

/* Personal todos */

.personal-todos {
  display: block;
  max-height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
}

.todo-preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
  max-width: 300px;
  background-color: #f0b995;
}

.todo-preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.todo-preview h2 {
  padding-top: 10px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding-bottom: 7px;
  background-color: #f0b995;
  font-weight: bolder;
}

.todo-preview h3 {
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding-bottom: 7px;
  padding-left: 4px;
  background-color: #f0b995;
}

.todo-preview button {
  background: rgb(137, 230, 61);
  color: rgb(0, 0, 0);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-top: 5px;
}

.todo-preview button:hover {
  background: rgb(84, 141, 37);
}

.add-todo-label {
  background: rgb(230, 106, 18);
  color: #fff;
  text-align: center;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 35px;
  text-decoration: none;
  margin: 15px;
}

.add-todo-label:hover {
  background: rgb(165, 91, 39);
}

.add-todo-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.add-todo-button button {
  background: rgb(230, 106, 18);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 10px;
}

.add-todo-button button:hover {
  background: rgb(165, 91, 39);
}

/* Project tasks */

.project-tasks {
  margin-bottom: 30px;
}

.project-tasks h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-task-preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
}

.project-task-preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.project-task-preview h2 {
  font-size: 20;
  color: #f1356d;
  padding-left: 4px;
}

.project-task-preview h3 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 7px;
  padding-left: 4px;
}

.project-task-preview a {
  text-decoration: none;
}

.add-task-button-wrapper {
  margin-top: 30px;
}

.task-complete-button {
  background: blue;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.task-delete-button {
  background: green;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.dropdown {
  max-width: 400px;
}

/* Project task previews on personal dashboard */
.task-preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
}

.task-preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.task-preview h2 {
  padding-top: 10px;
  font-size: 20;
  color: blue;
  padding-bottom: 7px;
}

.todo-preview h3 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 7px;
  padding-left: 4px;
}