@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
  background-color: white;
}

.home h1 {
  font-style: bold;
  font-size: 50px;
  text-align: left;
  margin-bottom: 50px;
}

.home h2 {
  margin-top: 10px;
  padding: 4px;
}

.home button {
  background-color:  #ff4e83;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 12px;
}

.home button:hover{
  background-color:  #8f0830;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  color: #ff4e83;
}
.navbar h1 {
  color: #ff4e83;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: rgb(0, 0, 0);
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* Project list */

.project-preview {
  padding: 6px;
  margin: 2px;
  border-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgb(194, 194, 194);
}

.project-preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.project-preview h2 {
  font-size: 20;
  color: #f1356d;
}

.project-preview h3 {
  font-size: 10;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}

.project-preview a {
  text-decoration: none;
}

/* Project details */

.project-details h2 {
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 10px;
}

.project-details h3 {
  font-size: 25px;
  color: rgb(102, 94, 94);
  margin-bottom: 30px;
}

.project-details p {
  font-size: 20px;
  color: rgb(8, 8, 8);
  margin-bottom: 30px;
}

.project-details button, .edit-project-button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20;
  text-decoration: none;
}

.project-details button:hover, .edit-project-button:hover {
  background: #8f0830;
}

/* Create new project form and edit project */

.create-project .edit-project{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-project label, .edit-project label{
  text-align: left;
  display: block;
  font-size: 20px;
}


.create-project h2, .edit-project h2{
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 35px;
}
.create-project input, .create-project textarea, .create-project select,
.edit-project input, .edit-project textarea, .edit-project select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-project button, .edit-project button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.create-project button:hover, .edit-project button:hover {
  background: #8f0830;
}


/* My Profile */

.my-profile h2 {
  font-size: 35px;
  color: #f1356d;
  margin-bottom: 10px;
}

.my-profile p {
  font-size: 20px;
  color: rgb(8, 8, 8);
  margin-bottom: 30px;
}

/* Page not found */

.page-not-found h2, .page-not-found p{
  margin-bottom: 10px;
}


/* Add New User */
.add-user label {
  text-align: left;
  display: block;
  font-size: 20px;
}

.users h1 {
  font-style: bold;
  font-size: 50px;
  text-align: left;
  margin-bottom: 50px;
}




/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #248f0f;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #5a0808;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #5d076e;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #000000;
}